.chat-section {
    width: 900px;
    display: flex;
    margin-right: 60px;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 0px;
}

.chat-div {
    position: absolute;
    bottom: 20px;
    margin-bottom: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    height: 14;
    width: 78vw;
    padding: 18px;
}