.header {
    position: sticky;
    top: 0;
    margin-bottom: 1.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 14;
    /* padding-left: 20px; */
    padding: 18px;
}

.header-header {
    margin: 0 !important;
    font-size: 20px !important;
}